@charset "utf-8";

:root {
  --off-white: #f9f4e9;
  --blue: #0f1756;
  --pink: #f3668b;
  --orange: #f38866;
  --lime-green: #8bf366;

  --padding: 0 6rem;
  --container-padding: 0.5rem 6rem 3rem 6rem;
  --mobile-padding: 0.5rem 2rem 3rem 2rem;

  --border-radius: 1rem;

  --main-font: "Khula", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --khula-height: 0.8em;
  --khula-line-height: 1.1em;

  --noise: url(/img/noise.svg);
  --gradiant-noise: url("/img/gradiant_noise.svg");

  --conic-gradiant: conic-gradient(
    from 90deg at 40% -25%,
    #ffd700,
    #f79d03,
    #ee6907,
    #e6390a,
    #de0d0d,
    #d61039,
    #cf1261,
    #c71585,
    #cf1261,
    #d61039,
    #de0d0d,
    #ee6907,
    #f79d03,
    #ffd700,
    #ffd700,
    #ffd700
  );
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--off-white);
  background-image: var(--noise);
  font-family: var(--main-font);
  cursor: default;
}

section {
  padding: var(--container-padding);
  color: var(--off-white);
  position: relative;
}

h1 {
  font-weight: 700;
  font-size: 150px;
  color: var(--blue);
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
  padding-top: 0.8rem;
}

h3 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}

h5 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}

p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 40px;
  margin: 0;
  padding-bottom: 0.8rem;
}

a {
  font-weight: 700;
  color: var(--blue);
  text-decoration: none;
  margin-bottom: -0.5rem;
}

img {
  object-fit: contain;
}

button {
  border: none;
  background: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin: 1rem;
}

a:hover {
  color: var(--orange);
  transition: all 300ms ease-out;
}

a svg {
  width: 1.5rem;
  height: auto;
}

/* scale down on scroll? */
nav {
  padding: 0 2rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.2rem #ffffff00;
  color: var(--off-white);
  background-color: var(--blue);
  position: sticky;
  top: 0;
  z-index: 1;
}

nav#mobile-nav {
  display: none;
}

nav .logo-link {
  margin-right: -1rem;
}

nav a svg.logo {
  height: 2rem;
  fill: var(--pink);
  transition: all 300ms ease-in;
}

nav a svg.logo:hover {
  fill: var(--orange);
  transition: all 300ms ease-out;
}

nav a {
  color: var(--off-white);
  font-size: 1.5rem;
}

nav .nav-bar {
  display: flex;
  gap: 3rem;
  font-size: 1.8rem;
}

.socials-bar {
  display: flex;
  gap: 1rem;
}

#intro-section {
  color: var(--off-white);
  font-family: var(--secondary-font);
  background: linear-gradient(to right, var(--blue), transparent),
    var(--gradiant-noise);
}

#intro-section #intro {
  margin-top: -53px;
  padding-top: 53px;
}

#intro-section #intro-view {
  height: 45vw;
  min-height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

#intro-section #intro-img {
  display: flex;
  gap: 2.5rem;
  align-items: flex-end;
}

#intro-img div {
  position: relative;
}

@keyframes scaleStar {
  from {
    transform: translate(-10px, 8px) scale(0.9);
  }

  to {
    transform: translate(-10px, 8px) scale(1.1);
  }
}

#intro-img #star1::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  background-image: url(/img/blue_star.svg);
  filter: saturate(200%) blur(10px);

  animation-duration: 1.5s;
  animation-name: scaleStar;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#intro-img #star2::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  background-image: url(/img/blue_star.svg);
  filter: saturate(200%) blur(10px);

  animation-duration: 2s;
  animation-name: scaleStar;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#intro-section #intro-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 9.5rem;
  height: var(--khula-height);
  line-height: var(--khula-line-height);
  color: var(--orange);
  margin-left: -10px;
}

#intro-section #intro-name::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  filter: saturate(200%) blur(10px);
  background: var(--conic-gradiant);
}

#intro-section #intro-1 {
  font-weight: 400;
  font-size: 2.5rem;
}

#intro-section #intro-2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--pink);
}

#intro-section p {
  margin-top: 0;
}

#projects-section {
  background-color: var(--pink);
}

#projects-section #projects {
  margin-top: -53px;
  padding-top: 53px;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--off-white);
  gap: 3rem;
  padding: 0 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: linear-gradient(270deg, #eb7259, #722267, var(--blue));
  background-size: 600% 600%;
  transition: background-position 1s ease;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#projects-section .project-card:hover {
  animation: gradientMove 3s ease infinite;
}

#projects-section .project-card:hover img {
  transition: all 400ms ease-out;
  transform: scale(1.03);
}

#projects-section img {
  width: 40%;
  transition: all 300ms ease-in;
  transform: scale(1);
}

#projects-section h3 {
  font-size: 2.5rem;
  font-style: normal;
  color: var(--lime-green);
}

#projects-section .projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#projects-section .project-card .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  margin: 0.5rem;
}

#projects-section .project-card .img-container img {
  height: 20rem;
}

#projects-section .project-card .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

#projects-section .project-card .text-container p {
  margin-top: 0;
}

#illustrations-section #illustrations {
  margin-top: -53px;
  padding-top: 53px;
}

#illustrations-section {
  color: var(--blue);
}

#illustrations-section p {
  font-style: normal;
  width: 90%;
}

#illustrations-section #illustrations-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

#illustrations-section #illustrations-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24rem;
  aspect-ratio: 1/1;
  background-color: var(--orange);
  background-image: var(--noise);
  border-radius: var(--border-radius);
}

#illustrations-section #illustrations-grid div img {
  height: 22rem;
  cursor: pointer;
  aspect-ratio: 1/1;
  transition: all 300ms ease-out;
  transform: scale(1);
}

#illustrations-section #illustrations-grid div:hover {
  background-color: var(--blue);
}

#illustrations-section #illustrations-grid div:hover img {
  transition: all 300ms ease-in;
  transform: scale(1.09);
}

#illustrations-section #img-large {
  height: 80%;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  display: none;
}

#illustrations-section #img-large-bg {
  background-color: var(--blue);
  background-image: var(--noise);
  opacity: 80%;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  overflow: hidden;
  text-align: right;
}

#illustrations-section #img-large-caption {
  display: none;
  z-index: 2;
  bottom: 0;
  position: fixed;
  color: white;
  text-align: center;
}

#about-section {
  background-color: var(--pink);
  background-image: var(--noise);
}

#about-section #about {
  margin-top: -53px;
  padding-top: 53px;
}

#about-section #about-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

#about-section #about-container img {
  height: 20rem;
  background-color: var(--off-white);
  border: 0.5rem solid var(--lime-green);
  transition: all 300ms ease-out;
  border-radius: var(--border-radius);
}

#about-section #about-container img:hover {
  border: 0.5rem solid var(--blue);
  transition: all 300ms ease-in;
}

#about-section p {
  font-style: normal;
  padding-right: 4rem;
}

#about-section a {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  font-size: 1.25rem;
  color: var(--lime-green);
  transition: all 300ms ease-out;
}

#about-section a:hover {
  color: var(--blue);
  transition: all 300ms ease-in;
}

#about-section a svg {
  height: 1.5rem;
  fill: var(--lime-green);
  transition: all 300ms ease-out;
}

#about-section a:hover svg {
  fill: var(--blue);
  transition: all 300ms ease-in;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
  text-align: center;
  color: var(--blue);
}

footer a svg:hover {
  color: var(--orange);
}

@media screen and (max-width: 768px) {
  #intro-section #intro-img,
  #intro-view p,
  #projects-section p,
  #illustrations-section p {
    display: none;
  }

  .project-card {
    padding: 1rem;
  }

  #projects-section .project-card {
    gap: 1rem;
  }

  #projects-section img {
    height: 20rem;
    width: 90%;
  }

  #projects-section .project-card .text-container {
    width: 80%;
    align-items: center;
  }

  #illustrations-section #illustrations-grid div {
    flex-grow: 1;
  }

  #illustrations-section #img-large {
    height: 45%;
  }

  #about-section #about-container {
    flex-wrap: wrap;
  }

  #about-section h3 {
    text-align: center;
  }

  #about-section .text-container p {
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  section {
    padding: var(--mobile-padding);
  }

  h3 {
    font-size: 30px !important;
  }

  nav#nav {
    display: none;
  }

  nav#mobile-nav {
    display: block;
    position: relative;
  }

  nav#mobile-nav button {
    margin: 0;
    margin-left: auto;
    display: block;
  }

  nav#mobile-nav .nav-bar {
    display: none;
  }

  nav#mobile-nav .nav-bar {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    z-index: 10;
    padding: 1rem;
  }

  nav#mobile-nav button:hover + nav#mobile-nav .nav-bar {
    display: block;
  }

  #intro-section #intro-name::before {
    inset: -1px;
  }

  #intro-section #intro-1,
  #intro-2 {
    font-size: 1.5rem;
  }

  #intro-section #intro-name {
    font-size: 5rem;
  }

  #intro-section #intro-2 {
    font-size: 1.5rem;
  }

  #intro-section p {
    font-size: 1rem;
  }

  #projects-section img {
    height: 10rem;
  }

  #illustrations-section #illustrations-grid div {
    height: 20rem;
  }

  #illustrations-section #illustrations-grid div img {
    height: 18rem;
  }

  #illustrations-section #img-large {
    height: 30%;
  }

  #about-section #about-container img {
    height: 15rem;
  }
}
