@charset "utf-8";

:root {
  --off-white: #f9f4e9;
  --blue: #0f1756;
  --pink: #f3668b;
  --orange: #f38866;
  --lime-green: #8bf366;

  --padding: 0 6rem;
  --container-padding: 0.5rem 6rem 3rem 6rem;

  --main-font: "Khula", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --khula-height: 0.8em;
  --khula-line-height: 1.1em;

  --noise: url(/img/noise.svg);
  --gradiant-noise: url("/img/gradiant_noise.svg");

  --conic-gradiant: conic-gradient(
    from 90deg at 40% -25%,
    #ffd700,
    #f79d03,
    #ee6907,
    #e6390a,
    #de0d0d,
    #d61039,
    #cf1261,
    #c71585,
    #cf1261,
    #d61039,
    #de0d0d,
    #ee6907,
    #f79d03,
    #ffd700,
    #ffd700,
    #ffd700
  );
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--off-white);
  background-image: var(--noise);
  font-family: var(--main-font);
  cursor: default;
}

section {
  padding: var(--container-padding);
  color: var(--off-white);
  background-image: var(--gradiant-noise);
  position: relative;
}

section::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  filter: saturate(200%) blur(10px);
  background: var(--conic-gradiant);
}

h1 {
  font-weight: 700;
  font-size: 150px;
  color: var(--blue);
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

h3 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: italic;
  font-size: 25px;
  margin: 0;
}

h4 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}

h5 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}

p {
  font-family: var(--secondary-font);
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}

a {
  font-weight: 700;
  color: var(--blue);
  text-decoration: none;
  margin-bottom: -0.5rem;
}

img {
  object-fit: contain;
}

button {
  border: none;
  background: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin: 1rem;
}

a:hover {
  color: var(--orange);
  transition: all 300ms ease-out;
}

a svg {
  width: 1.5rem;
  height: auto;
}

/* scale down on scroll? */
nav {
  padding: 0 2rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.3rem var(--blue);
  color: var(--off-white);
  background-color: var(--blue);
  position: sticky;
  top: 0;
  z-index: 1;
  transition: all 300ms ease-in;
  background-image: var(--noise);
}

nav .logo-link {
  margin-right: -1rem;
}

nav a svg.logo {
  height: 2rem;
  fill: var(--pink);
  transition: all 300ms ease-in;
}

nav a svg.logo:hover {
  fill: var(--orange);
  transition: all 300ms ease-out;
}

nav a {
  color: var(--off-white);
}

nav .nav-bar {
  display: flex;
  gap: 3rem;
  font-size: 1.8rem;
}

nav:has(.nav-bar a:hover) {
  border-bottom: solid 0.3rem var(--orange);
  transition: all 300ms ease-out;
}

.socials-bar {
  display: flex;
  gap: 1rem;
}

#intro-section {
  color: var(--off-white);
  font-family: var(--secondary-font);

  background: linear-gradient(to right, var(--blue), transparent),
    var(--gradiant-noise);
}

#intro-section #intro {
  margin-top: -53px;
  padding-top: 53px;
}

#intro-section #intro-view {
  height: 45vw;
  min-height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

#intro-section #intro-img {
  display: flex;
  gap: 2.5rem;
  align-items: flex-end;
}

#intro-img div {
  position: relative;
}

@keyframes scaleStar {
  from {
    transform: translate(-10px, 8px) scale(0.9);
  }

  to {
    transform: translate(-10px, 8px) scale(1.1);
  }
}

#intro-img #star1::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  background-image: url(/img/blue_star.svg);
  filter: saturate(200%) blur(10px);

  animation-duration: 1.5s;
  animation-name: scaleStar;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#intro-img #star2::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  background-image: url(/img/blue_star.svg);
  filter: saturate(200%) blur(10px);

  animation-duration: 2s;
  animation-name: scaleStar;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#intro-section #intro-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 150px;
  height: var(--khula-height);
  line-height: var(--khula-line-height);
  color: var(--orange);
  margin-left: -10px;
}

#intro-section #intro-name::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  filter: saturate(200%) blur(10px);
  background: var(--conic-gradiant);
}

#intro-section #intro-1 {
  font-weight: 400;
  font-size: 40px;
}

#intro-section #intro-2 {
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  color: var(--pink);
}

#intro-section p {
  margin-top: 0;
}

#projects-section {
  background-color: var(--pink);
  background-image: var(--noise);
}

#projects-section #projects {
  margin-top: -53px;
  padding-top: 53px;
}

.project-card {
  display: flex;
  background-color: var(--blue);
  color: var(--off-white);
  background-image: var(--noise);
  gap: 3rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 300ms ease-in;
  position: relative;
  transform-style: preserve-3d;
}

#projects-section .project-card:hover {
  transition: all 400ms ease-out;
  /* background-color: var(--lime-green); */
}

/* #projects-section .project-card:hover .img-container {
  background: var(--orange);
} */

#projects-section .project-card:hover .text-container {
  transition: all 400ms ease-out;
  transform: scale(1.05);
}

#projects-section .text-container {
  transition: all 300ms ease-in;
  transform: scale(1);
}

#projects-section h3 {
  font-size: 40px;
  font-style: normal;
  color: var(--lime-green);
}

#projects-section .project-card .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  /* background: var(--lime-green); */
  margin: 0.5rem;
}

#projects-section .project-card .img-container img {
  height: 20rem;
}

#projects-section .project-card .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projects-section .project-card .text-container p {
  margin-top: 0;
}

#illustrations-section #illustrations {
  margin-top: -53px;
  padding-top: 53px;
}

#illustrations-section h2 {
  color: var(--blue);
}

#illustrations-section #illustrations-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

#illustrations-section #illustrations-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24rem;
  aspect-ratio: 1/1;
  background-color: var(--orange);
  background-image: var(--noise);
}

#illustrations-section #illustrations-grid div img {
  height: 22rem;
  cursor: pointer;
  aspect-ratio: 1/1;
  transition: all 300ms ease-out;
  transform: scale(1);
}

#illustrations-section #illustrations-grid div:hover {
  background-color: var(--blue);
}

#illustrations-section #illustrations-grid div:hover img {
  transition: all 300ms ease-in;
  transform: scale(1.09);
}

#illustrations-section #img-large {
  height: 80%;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  display: none;
}

#illustrations-section #img-large-bg {
  background-color: var(--blue);
  background-image: var(--noise);
  opacity: 80%;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  overflow: hidden;
  text-align: right;
}

#about-section {
  background-color: var(--pink);
  background-image: var(--noise);
}

#about-section #about {
  margin-top: -53px;
  padding-top: 53px;
}

#about-section #about-container {
  display: flex;
  /* flex-wrap: wrap; mobile only */
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

#about-section #about-container img {
  /* flex-basis: 70%; */
  height: 20rem;
  background-color: var(--off-white);
  border: 0.5rem solid var(--lime-green);
  transition: all 300ms ease-out;
}

#about-section #about-container img:hover {
  border: 0.5rem solid var(--blue);
  transition: all 300ms ease-in;
}

#about-section p {
  font-style: normal;
  padding-right: 4rem;
}

#about-section a {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  font-size: 20px;
  color: var(--lime-green);
  transition: all 300ms ease-out;
}

#about-section a:hover {
  color: var(--blue);
  transition: all 300ms ease-in;
}

#about-section a svg {
  height: 1.5rem;
  fill: var(--lime-green);
  transition: all 300ms ease-out;
}

#about-section a:hover svg {
  fill: var(--blue);
  transition: all 300ms ease-in;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
  text-align: center;
  color: var(--blue);
}

footer a svg:hover {
  color: var(--orange);
}
