@charset "utf-8";

section {
  padding-top: 1.5rem;
  color: var(--blue);
}

svg {
  width: 1.5rem;
}

img {
  border-radius: var(--border-radius);
  border: 0.5rem solid var(--orange);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  background: linear-gradient(to right, var(--blue), transparent),
    var(--gradiant-noise);
  height: 30vw;
  display: flex;
  align-items: center;
  gap: 3rem;
}

#header h1 {
  font-family: var(--secondary-font);
  font-size: 90px;
  color: var(--lime-green);
}

#header h1::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  filter: saturate(200%) blur(10px);
  background: var(--conic-gradiant);
}

#header h3 {
  color: var(--off-white);
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 25px;
}

#header img {
  border: none;
}

h3 {
  font-size: 30px;
  font-family: var(--main-font);
  font-style: normal;
}

p {
  font-size: 20px;
  margin: 0;
  font-style: normal;
  line-height: 40px;
}

section.pink-bg {
  background-color: var(--pink);
  color: var(--off-white);
}

section.white-bg {
  background-color: var(--off-white);
  background-image: url("/img/noise.svg");
}

.sm-section {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  padding-top: 3rem;
}

.sm-section h3 {
  width: 15rem;
  text-align: center;
}

.sm-section p {
  width: 70%;
}

section div.img-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 4rem;
}

p.img-caption {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

p.img-caption a:hover {
  color: var(--lime-green);
}

section a {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  font-size: 18px;
  color: var(--blue);
}

section a img {
  height: 1.5rem;
}
